.footer-static-box {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	overflow: hidden;
	z-index: 9998;
	transform: translateZ(0);
}

.if-not-mobile.hide { display: none; }

.footer-static-box.show {
	display: block;
}

.footer-static-box { background-color: #4CBD20; color: #fff; text-align: center; }
.footer-static-box a { color: #fff; font-weight: bold; }

.footer-static-box .links-of-3 a { display: inline-block; width: 30%; }
.area-links .selected { background-color: #efe; color: #4CBD20; }
