.footer-static-box {
	display: block;
	position: fixed;
	width: 100%;
	height: 56px;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	overflow: hidden;
	z-index: 9998;
	transform: translateZ(0);
}

.footer-static-box { background-color: #4CBD20; color: #fff; text-align: center; }
.footer-static-box a { color: #fff; font-weight: bold; }
