.tm-header { background-color: #94559B; }
.tm-nav-item:hover .tm-nav-link, .tm-nav-item.active .tm-nav-link { color: #94559B; }

.tm-site-header, .tm-nav { margin: 0; }
.byline { font-weight: bold; font-style: italic; color: yellow; letter-spacing: 3px; text-align: center; }
.footer-message { font-size: 70%; line-height: 1.3; text-align: justify; }

.amadeus-credits img { vertical-align: middle!important; } /* TODO: how to change in theme */

.tm-main blockquote { margin-left: 10px; border-left: 6px solid #666; padding: 15px; }

.files .selected { background-color: rgb(130,198,142); }
.files a { display: block; }

.hidden { display: none; }

.above-banner-container { margin-top: 5px; margin-bottom: 5px; }
.above-banner { padding: 8px; background-color: #D2E4B6; font-size: small; }
.above-banner a { font-weight: bold; color: #27A2A3; }

.quote-above-banner { padding: 8px; background-color: #B6D2E4; font-size: small; }
.quote-above-banner a { font-weight: bold; color: #A327A2; }
.toggle-more { padding: 6px; background-color: #26A0DA; }
.more { border-top: 1px solid #333; }

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

blockquote ul { font-size: 85%!important; margin-left: 20px; }

.blurbs-container { margin-top: 20px; height: calc(100% - 80px); }

.blurbs-container { background: radial-gradient(circle closest-side at 50% 45%, rgb(72 186 118) 0%,rgb(155 60 161 / 80%) 100%,rgb(66 26 82) 500%); }

.above-footer .menu a { display: block; padding: 3px 8px 3px 8px; }
.above-footer .menu a.selected { background-color: #94559B; color: #fff; }
.above-footer .menu h2.selected { border-bottom: 3px solid #94559B; }
