.tm-header { background-color: #94559B; }
.tm-nav-item:hover .tm-nav-link, .tm-nav-item.active .tm-nav-link { color: #94559B; }

.tm-site-header, .tm-nav { margin: 0; }
.byline { font-weight: bold; font-style: italic; color: yellow; letter-spacing: 3px; text-align: center; }
.footer-message { font-size: 70%; line-height: 1.3; text-align: justify; }

.tm-main { padding: 20px 20px 40px 20px; }
@media (max-width: 767px) { .tm-main { padding-top: 60px; } }

.amadeus-credits img { vertical-align: middle!important; } /* TODO: how to change in theme */

.holds-menu-contents ul.contents { background-color: #ff8; color: #A36DA9; }
ul.contents { list-style-type: none; margin-bottom: 40px; border: 3px solid #A46EAA; cursor: pointer; }
ul.contents li:hover { text-decoration: underline; }
ul.contents .selected { background-color: #FAF05A; }
ul.contents .indent-h1 { padding-left: 20px; }
ul.contents .indent-h2 { padding-left: 40px; }
ul.contents .indent-h3 { padding-left: 60px; }


.box-colour-2018, .box-colour-one, .box-colour-two, .box-colour-three, .box-colour-four { padding: 5px; }

.box-colour-2018 { background-color: #FFDC73; }
.box-colour-one { background-color: #CCFF66; }
.box-colour-two { background-color: #D785D1; }
.box-colour-three { background-color: #B6ADFF; }
.box-colour-four { background-color: #CEEAFF; }

#content .go-to-toc { cursor: pointer; }
/* https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow { border: solid black; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; }
.arrow.right { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); margin: 0 6px 4px 6px; }
.arrow.left { transform: rotate(135deg); -webkit-transform: rotate(135deg); }
.arrow.up { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); }
.arrow.down { transform: rotate(45deg); -webkit-transform: rotate(45deg); }

.tm-main blockquote { margin-left: 10px; border-left: 6px solid #666; padding: 15px; }
.tm-main h1:not(.heading) { margin-top: 40px; }
.tm-main h2, .tm-main h3 { margin-top: 20px; }

a.hilight { background-color: #FAF05A; padding: 4px 8px 4px 8px; border-radius: 8px; font-weight: bold; color: #D71459; }
div.banner { text-align: center; background-color: #ffa; }
div.banner:not(.below) { padding: 15px; }
div.banner.below p { color: #94559B; font-weight: bold; font-size: small; letter-spacing: 2px; }
.above-footer div.banner { margin-top: 30px; background-color: #A09BE3; }

.files .selected { background-color: rgb(130,198,142); }
.files a { display: block; }

.hidden { display: none; }

.above-banner-container { margin-top: 5px; margin-bottom: 5px; }
.above-banner { padding: 8px; background-color: #D2E4B6; font-size: small; }
.above-banner a { font-weight: bold; color: #27A2A3; }

.quote-above-banner { padding: 8px; background-color: #B6D2E4; font-size: small; }
.quote-above-banner a { font-weight: bold; color: #A327A2; }
.toggle-more { padding: 6px; background-color: #26A0DA; }
.more { border-top: 1px solid #333; }

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* content */
h1.heading { border-bottom: 3px solid #666; background-color: #94559B; padding: 6px; margin-bottom: 15px; font-size: 120%; }
.breadcrumbs a { color: #ff0; }
.breadcrumbs .home { background:  url(../icon-yieldmore.png) left center no-repeat;  background-size: contain; padding-left: 35px; }

blockquote ul { font-size: 85%!important; margin-left: 20px; }

#content ul ul { margin-left: 40px; }

audio.full-width, video.full-width, iframe.full-width, img.full-width { width: 100%; }
iframe.full-width, .full-height { height: 95vh; }

.blurbs-container { margin-top: 20px; height: calc(100% - 80px); }
.blurbs-container { background: radial-gradient(circle closest-side at 50% 45%, rgb(72 186 118) 0%,rgb(155 60 161 / 80%) 100%,rgb(66 26 82) 500%); }

.above-footer .menu a { display: block; padding: 3px 8px 3px 8px; }
.above-footer .menu a.selected { background-color: #94559B; color: #fff; }
.above-footer .menu h2.selected { border-bottom: 3px solid #94559B; }
